# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

#Idea dependancies
.idea/
.DS_Store

# Python dependancies
airflow-config/py_env/
airflow-config/logs/

# Airflow dependancies
airflow.db
sqlite.tar.gz
sqlite/

# Docker dependancies
/airflow-docker/logs
airflow-docker/plugins

