# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea/

# Python dependancies
py_env/
logs/

# Airflow dependancies
airflow.db
sqlite.tar.gz
sqlite/

